<div>
    <app-header></app-header>
</div>
<div class="chatbotbody">
    <!-- <div class="headbox">
        <img src="assets/Xoriant-Logo.png" alt="Xoriant">
        <h1>Recruiter Console</h1>
    </div> -->
    <div class="chatbox">
        <ul id="chatTabs">
            <li class="chat-tab" *ngFor="let customer of this.all_customers; index as indexOfelement" (click)="onRowClicked(customer); setIndex(indexOfelement)" [class.selected]="selectedIndex === indexOfelement">Candidate: {{indexOfelement+1}}</li>
        </ul>
        <div id="chatWindows">
            <ul class="chat-window" style="display: block;">
                <li class="customer-message" *ngFor="let message of messages; index as indexOfelement">{{message.from}}:{{message.content}}</li>
            </ul>
        </div>
    </div>
    <form *ngIf="this.messages.length">
        <input id="m" autocomplete="off" #textInput [hidden]="!HasOperatorJoined()" /><button (click)="onSend(textInput)" [hidden]="!HasOperatorJoined()">Send</button><button (click)="onJoin()" [hidden]="HasOperatorJoined()">Join</button>
    </form>
</div>