<div id="fullPage">
    <div id="brandingWrapper" class="float">
        <div id="branding" class="illustrationClass"></div>
    </div>
    <div id="contentWrapper" class="float">
        <div id="content">
            <div id="header">
                <img class="logoImage" src="assets/logo.png" alt="Xoriant Corp">
            </div>
            <div id="workArea">

                <div id="authArea" class="groupMargin">


                    <div id="loginArea">
                        <div id="loginMessage" class="groupMargin">Sign in with your organizational account</div>

                        <form method="post" id="loginForm" [formGroup]="loginForm" autocomplete="off" novalidate="novalidate" (ngSubmit)="onSubmit()">
                            <div id="error" class="fieldMargin error smallText" style="display: none;">
                                <label id="errorText" for=""></label>
                            </div>

                            <div id="formsAuthenticationArea">
                                <div id="userNameArea">
                                    <input id="userNameInput" formControlName="useremail" [ngClass]="{ 'is-invalid': submitted && f.useremail.errors }" name="UserName" type="email" tabindex="1" class="text fullWidth" spellcheck="false" placeholder="domain\userid" autocomplete="off">
                                </div>
                                <div *ngIf="submitted && f.useremail.errors" class="invalid-feedback">
                                    <div *ngIf="f.useremail.errors?.required">Email is required</div>
                                </div>

                                <div id="passwordArea">
                                    <input id="passwordInput" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" name="Password" type="password" tabindex="2" class="text fullWidth" placeholder="Password" autocomplete="off">
                                </div>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors?.required">Password is required</div>
                                </div>
                                <div id="kmsiArea" style="display:none">
                                    <input type="checkbox" name="Kmsi" id="kmsiInput" value="true" tabindex="3">
                                    <label for="kmsiInput">Keep me signed in</label>
                                </div>

                                <div id="submissionArea" class="submitMargin">
                                    <!-- <span id="submitButton" class="submit" tabindex="4">Sign in</span> -->
                                    <input id="submitButton" type="submit" class="submit" tabindex="4" value="Sign in" />
                                </div>
                            </div>
                            <input id="optionForms" type="hidden" name="AuthMethod" value="FormsAuthentication">
                        </form>





                    </div>

                </div>

            </div>
            <div id="footerPlaceholder"></div>
        </div>
        <div id="footer">
            <div id="footerLinks" class="floatReverse">
                <div><span id="copyright">© 2013 Microsoft</span></div>
            </div>
        </div>
    </div>
</div>
