#fullPage, #brandingWrapper {
    width: 100%;
    height: 100vh;
    background-color: inherit;
}
#brandingWrapper {
    background-color: #4488dd;
}
.illustrationClass {
    background-image: url('./../../assets/illustration.jpg');
}
.float {
    float: left;
}
#branding {
    height: 100%;
    margin-right: 500px;
    margin-left: 0px;
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
#contentWrapper {
    position: relative;
    max-width: 500px;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
    margin-left: -500px;
    margin-right: 0px;
}
#content {
    min-height:90%;
    height: auto !important;
    margin: 0 auto 0px auto;
    padding: 0px 150px 0px 50px;
}
#footer {
    height: 40px;
    padding: 10px 50px 0px 50px;
    position: relative;
    color: #666666;
    font-size: 0.78em;
}
.groupMargin {
    margin-bottom: 30px;
}
input.text {
    height: 28px;
    padding: 0px 3px 0px 3px;
    border: solid 1px #BABABA;
}
input {
    max-width: 100%;
    font-family: inherit;
    margin-bottom: 8px;
    outline: none;
    font-size: 14px;
}
.fullWidth {
    width: 342px;
}
span.submit, input[type="submit"] {
    border: none;
    background-color: rgb(38, 114, 236);
    min-width: 80px;
    width: auto;
    height: 30px;
    padding: 4px 20px 6px 20px;
    border-style: solid;
    border-width: 1px;
    transition: background 0s;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-bottom: 8px;
    -ms-user-select: none;
    -moz-transition: background 0s;
    -webkit-transition: background 0s;
    -o-transition: background 0s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.submitMargin {
    margin-top: 38px;
    margin-bottom: 30px;
}
#footerLinks {
    float: none;
    padding-top: 10px;
}
#workArea {
    margin-bottom: 40px;
}
@media only screen and (max-height: 500px){
    #header {
        padding-top: 30px;
        margin-bottom: 30px;
    }
    #workArea {
        margin-bottom: 40px;
    }
}

@media only screen and (max-height: 820px){
#header {
    padding-top: 40px;
    min-height: 0px;
    overflow: hidden;
}
#workArea, #header {
    word-wrap: break-word;
    width: 350px;
}
}
#header {
    font-size: 2em;
    font-weight: lighter;
    font-family: "Segoe UI Light" , "Segoe" , "SegoeUI-Light-final", Tahoma, Helvetica, Arial, sans-serif;
    padding-top: 90px;
    margin-bottom: 60px;
    min-height: 100px;
    overflow: hidden;
}
@media only screen and (max-width: 767px){
div#brandingWrapper {
    display: none;
}
#contentWrapper {
    margin-left: 0;    float: none;    max-width: 100%;
}
#content {
    padding: 0 15px;    min-height: 90%;
}
#footer{
    padding: 0 15px;
}
}