.btn.signout {
    float: right;
    position: absolute;
    right: 15px;
    padding: 2px 15px;
} 

.headbox {
    text-align: center;
    padding: 5px 15px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
}

.headbox img {
    max-width: 120px;
}

.headbox h1 {
    margin-left: 36vw;
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
}
