<header  class="headbox">
    <a href="https://www.xoriant.com/"><img src="assets/Xoriant-Logo.png" alt="Xoriant" width="80px"></a>
    <h1 *ngIf="showHeading">Recruiter Console</h1>
    <div id="btnsignout" class="btn btn-primary signout" (click)="signOut()">Sign out
    </div>
</header>
