body,
html {
    height: 100%;
    margin: 0;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.chat {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    height: 100%;
    border-radius: 15px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.msg_card_body {
    overflow-y: auto;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    background: rgb(0 161 97) !important;
}

.card-footer textarea {
    height: 40px!important;
    resize: none;
    overflow: hidden;
    border-radius: 15px;
}

.card-footer .input-group-text {
    padding: 0.5rem 0.75rem;
}

.container {
    align-content: center;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
}

.search:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.type_msg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 60px !important;
    overflow-y: auto;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.attach_btn {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.search_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
    padding: 0;
}

.contacts li {
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.user_img {
    height: 50px;
    width: 50px;
    border: 1.5px solid #f5f6fa;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.img_cont {
    position: relative;
    height: 50px;
    width: 50px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.msg_info {
    width: 100%;
    background-color: #6f6969;
    color: #ddd;
    text-align: center;
    border-radius: 10px;
    font-size: 15px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0em;
    right: 0em;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info span {
    font-size: 20px;
    color: white;
}

.user_info p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 0;
}

.video_cam {
    margin-left: 50px;
    margin-top: 5px;
}

.video_cam span {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
    font-size: 15px;
    line-height: 17px;
}

.msg_cotainer .button_panel {
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
    font-size: 15px;
    line-height: 17px;
}

.msg_cotainer .options_list li {
    list-style-type: decimal;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 4px;
    position: relative;
    font-size: 14px;
    line-height: 15px;
    margin: 1px 0;
}

.msg_cotainer .button_panel button {
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 8px;
    position: relative;
    font-size: 14px;
    line-height: 15px;
    margin: 2px;
    width: 72px;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    width: 120px;
    text-align: left;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    width: 120px;
    text-align: right;
}

.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

.action_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu ul li {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.action_menu ul li i {
    padding-right: 10px;
}

.action_menu ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

.chat-container {
    max-width: 400px;
    height: 85vh;
    margin: auto;
    position: fixed;
    bottom: 10px;
    right: 50px;
    z-index: 9999;
}

.helpbtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 90px;
}

header {
    padding: 5px 15px 10px 15px;
    background: #000;
}

span.helptext {
    position: fixed;
    bottom: 20px;
    right: 60px;
    width: 120px;
    background: #66dcdc;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 15px 0 16px 15px;
    padding: 6px;
    border: 1px solid #1b485d;
}

.msg_card_body::-webkit-scrollbar {
    width: 8px;
    background: rgba(211, 211, 211, 0.13);
}

.msg_card_body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(211, 211, 211, 0.74);
    ;
    border-radius: 15px;
}

.msg_card_body::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 0px rgba(211, 211, 211, 0.719);
    ;
    background: #ccc;
}

.closebtn {
    color: #fff;
    width: 17px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.msg_cotainer ul.options_list {
    padding: 0;
    margin: 0;
    padding-left: 20px;
}

.msg_cotainerlist {
    margin: 0;
    border-radius: 4px;
    padding: 5px;
}

.msg_cotainerbtn {
    background: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.msg_cotainerbtn .button_panel {
    background-color: transparent;
    padding: 0;
}

@media(max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
    .chat-container {
        right: 0;
    }
}
