<div>
    <app-header [showHeading]="isShowHeading"></app-header>
</div>
<div class="center chat-container container chat" [hidden]="isShow">
    <div class="card">
        <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
                <div class="img_cont">
                    <img src="assets/human_operator_avatar.png" class="rounded-circle user_img">
                    <span class="online_icon"></span>
                </div>
                <div class="user_info">
                    <span>Chat</span>
                    <p>{{messages.length}} messages</p>
                </div>
            </div>
            <img src="assets/xmark-solid.svg" class="closebtn" (click)="toggleDisplay()">
        </div>
        <div class="card-body msg_card_body">
            <ng-container *ngFor="let chatmessage of messages;">
                <!--Normal text message from BOT agent type='message'-->
                <div class="d-flex justify-content-start mb-4" *ngIf="chatmessage.from!='User' && chatmessage.messageType=='message'">
                    <div class="img_cont_msg">
                        <img src="assets/human_operator_avatar.png" class="rounded-circle user_img_msg">
                    </div>
                    <div class="msg_cotainer">
                        {{chatmessage.content}}
                    </div>
                </div>
                <!--Normal info message from BOT agent type='info'-->
                <div class="d-flex justify-content-start mb-4" *ngIf="chatmessage.from!='User' && chatmessage.messageType=='info'">
                    <div class="msg_info">
                        {{chatmessage.content}}
                    </div>
                </div>
                <div class="d-flex justify-content-start mb-4" *ngIf="chatmessage.from!='User' && chatmessage.richResponseType && chatmessage.richResponseType == 'chips'">
                    <div class="msg_cotainer msg_cotainerlist">
                        <ng-container>
                            <ul class="options_list">
                                <li *ngFor="let option of chatmessage.options;let i = index;">{{option}}</li>
                            </ul>
                        </ng-container>
                    </div>
                </div>
                <!--Rich response from BOT agent-->
                <div class="d-flex justify-content-start mb-4" *ngIf="chatmessage.from!='User' && chatmessage.richResponseType && chatmessage.richResponseType == 'chips'">
                    <div class="msg_cotainer msg_cotainerbtn">
                        <ul class="button_panel" *ngFor="let option of chatmessage.options;let i = index;">
                            <li>
                                <button type="button" class="btn btn-primary" (click)="onOptionClick(option)">
                             option {{i+1}}
                            </button>
                            </li>
                        </ul>
                        <span class="msg_time">{{chatmessage.timestamp | date: 'dd/MM/yyyy hh:mm a'}}</span>
                    </div>
                </div>
                <div class="d-flex justify-content-end mb-4" *ngIf="chatmessage.from=='User'">
                    <div class="msg_cotainer_send">
                        {{chatmessage.content}}
                        <span class="msg_time_send">{{chatmessage.timestamp| date: 'dd/MM/yyyy hh:mm a'}}</span>
                    </div>
                    <div class="img_cont_msg">
                        <img src="assets/user_avatar.png" class="rounded-circle user_img_msg">
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="card-footer">
            <div class="input-group">
                <textarea name="" class="form-control type_msg" placeholder="Type your query here..." [(ngModel)]="currentMessage" (keyup)="onKey($event)"></textarea>
                <div class="input-group-append">
                    <span class="input-group-text send_btn" (click)="onSend()"><fa-icon [icon]="faLocationArrow"></fa-icon></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div (mouseover)="tooltip()" (mouseout)="changeText=false">
    <img class="helpbtn" src="assets/robot-chat.jpg" alt="Xoriant" (click)="toggleDisplay()">
    <span *ngIf="changeText" class="helptext">Can I Help?</span>
</div>
